/* Adding focus to the navigation so it can be navigated with a keyboard */


/* Utilities */
.spec-color {
    color: rgb(10, 7, 22);
}

.spec-color2 {
    color: rgb(199, 136, 42);
}



.section-p {
    padding: 5rem;
    font-size: 2em;
}

.slide {
    animation-duration: 2s;
    animation-timing-function: linear; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-name: slide; 
}


/* INDEX PAGE */
.container {
    display: flex;
    flex-direction: column;
    width: 70rem;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}


.showcase-content:nth-child(1) {

}

.container div:first-child {
    padding-bottom: 2rem;
}

#home-services {
    width: 70rem;
    margin: 0 auto;
}

#home-services header {
    text-align: center;
}

#home-services #section-1 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

#home-services #section-1 i {
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

#home-services #section-2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    margin-bottom: 2rem;
}

#home-services #section-2 i {
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

#home-services section div {
    background: #E9664D;
    border: 1px solid #ccc;
    border-radius: 5%;
    padding: 5rem;
    margin: 3rem;
    text-align: center;
}

/* Make a hover state of the whole box and a hove state on the read more */

/* SERVICES */


.services-main {
    width: 70rem;
    margin: 0 auto;
    padding-top: 5rem;
    text-align: center;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.services-grid img {
    width: 100%;
    border-radius: 2.5%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.8); 
}

.services-grid img,
.services-grid section {
    margin: 5rem 0 2.5rem 0;
}

.services-grid section h3 {
    margin-bottom: 1rem;
    color: rgb(197, 187, 146);
}

.services-grid section {
    border: 2px solid black;
    border-radius: 2%;
    background-color: rgb(8, 23, 46);
}




/* COMPENSATION */
.compensations-main {
    width: 70rem;
    margin: 0 auto;
    padding: 5rem 0;
}

.compensations-main p {
    margin-bottom: 1rem;
}

.compensations-main h2 {
    margin-top: 2rem;
    text-align: center;
}

.services-grid img {
transition: all 1.6s ease-in-out;
z-index: 55;
}

.services-grid:hover img {
transform: scale(1.1);
}

.colorr {
    color: #84a4ce;
}

.colorb {
    color: #841436;
}

.colorl {
    color: #5e291b;
}

.colorm {
    color: #9fbfe9;
}

.colorc {
    color: #043e8a;
}
/* RATES */
.rates-main {
    width: 70rem;
    margin: 0 auto;
    padding: 5rem 0;
}


.rates-main > h2,
.rates-main > p,
.rates-main > article > h2,
.rates-main > article > h3 {
    text-align: center;
}

/* CONTACT */
.contact-main {
    display: flex;
    width: 70rem;
    height: 30vh;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    martgin
}



/* FOOTER */

li a { text-decoration: none; color:#000; }
li a:visited { text-decoration: none; color:#000; }
li a:hover { text-decoration: none; color:#000; }
li a:focus { text-decoration: none; color:#000; }
li a:hover, .navBtn:active { text-decoration: none; color:#000; }


footer {
margin-top: -2em;
height: 22vh;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    height: 6vh;
    align-items: baseline;
    background: #E8664B;
    padding-top: 1em;
    width: 100%;
}

.footer-nav ul {
    display: flex;
    border: 2px solid black;
    border-radius: 5em;
    padding-right: 2em;
    width: 70em;
    text-align: center;
    justify-content: space-around;
}

.footer-nav ul li {
    list-style-type: none;
}

.footer-nav ul li a {
    color: #000;
    display: block;
    text-decoration: none;
    padding-left: 3rem;
    font-size: 1.5em;
}

.footer-nav ul li a:hover {
    color: rgb(90, 37, 24);
}

footer ul {
	list-style: none;
}

footer .down {
    height: 14vh;
    list-style: none;
    display: block;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
    margin: -1em
}

footer .down a {
text-decoration: none;
}

.twitter {
    color: #1da1f2
}

.pinterest {
    color: #bd081c;
}

.facebook {
    color: #1877f2;
}

.instagram {
    color: #c32aa3;
}

.services-main section:hover {
    color: orange;
}

.basic-zoom:hover {
    color: #d2f21d;
}



#underfooter {
    background: rgba(201, 199, 198, 0.4);
    text-align: center;
    color: rgb(32, 32, 32);
}