/* SASS Variables */

$niceblue: rgb(42, 199, 186);
$fontsizeheading: 3rem;

.l-heading {
    font-size: $fontsizeheading;
}

.m-heading {
    font-size: $fontsizeheading;
}

.bluepage,
#section-2 {
    background-color: $niceblue;
}

.indextext {
    color: $niceblue;
}

.bgc {
    background-color: $niceblue;
    }

@mixin bgcolor {
    margin-bottom: 2em;
    margin-top: -0.4em;
    .bgcolor h2 {
    padding-left: 29em;
    padding-top: 5em;
  }
  .bgcolor p {
    padding-top: 5em;
    padding-bottom: -20em;
    padding-left: 57em;
    }
}